div{

    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid black;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 2s; */

    transition: all 2s steps(3) 2s;
}


div:hover{

    background-color: red;
    font-size: 20px;
    color: white;
}

div:active{
    background-color:  palevioletred;
    
}